<div class="container">
    <div class="card bg-light  m-3 mt-5">
      <h5 class="card-header text-center">
        <img src="../assets/img.png" alt="" width="30" height="30" class="mr-2" />
        LCO Signup Form
      </h5>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-6">
              <label>First Name</label>
              <input 
                type="text" 
                class="form-control" 
                formControlName="firstName" 
                [ngClass]= "{ 'is-invalid': submitted && error.firstName.errors }"
              />
              <div *ngIf="error.firstName.touched && error.firstName.errors" class="text-warning">
                <div *ngIf="error.firstName.errors.required" class="text-danger">
                  First Name is required
                </div>
              </div>
            </div>
            <div class="form-group col-6">
              <label>Last Name</label>
              <input 
              type="text" 
              class="form-control" 
              formControlName="lastName" 
              [ngClass]= "{ 'is-invalid': submitted && error.lastName.errors }"
              />
              <div *ngIf="error.lastName.touched && error.lastName.errors" class="text-danger">
                <div *ngIf="error.lastName.errors.required">
                  Last Name is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input 
              type="text" 
              class="form-control"
              formControlName="email" 
              [ngClass]= "{ 'is-invalid': submitted && error.email.errors }"
              />
            <div  *ngIf="error.email.touched &&  error.email.errors" class="text-danger">
              <div *ngIf="error.email.errors.required">Email is required</div>
              <div *ngIf="error.email.errors.email">Email must be a valid email!</div>
            </div>
          </div>
  
          <!-- <ng-container *ngIf="error.email.touched &&  error.email.errors">
            <div class="text-danger">
              Value is required.
            </div>
          </ng-container> -->

          <div class="form-row">
            <div class="form-group col">
              <label>Password</label>
              <input 
              type="password" 
              class="form-control" 
              formControlName="password" 
              [ngClass]= "{ 'is-invalid': submitted && error.password.errors }"
              />
              <div *ngIf="error.password.touched && error.password.errors" class="text-danger">
                <div *ngIf="error.password.errors.required">Password is required</div>
                <div *ngIf="error.password.errors.minlength" class="text-danger">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="form-group col">
              <label>Confirm Password</label>
              <input 
              type="password" 
              class="form-control" 
              formControlName="confirmpassword" 
              [ngClass]= "{ 'is-invalid': submitted && error.confirmpassword.errors }"
              />
              <div *ngIf="error.confirmpassword.touched && error.confirmpassword.errors" class="text-danger">
                <div *ngIf="error.confirmpassword.errors.required">
                  Confirm Password is required
                </div>
                <div *ngIf="error.confirmpassword.errors.mustmatch">
                  Passwords must match !
                </div>
              </div>
            </div>
          </div>
          <div class="form-group form-check">
            <input 
            type="checkbox" 
            id="acceptTerms" 
            class="form-check-input"
            formControlName="accepTandc" 
            [ngClass]= "{ 'is-invalid': submitted && error.accepTandc.errors }"
            />
            <label for="acceptTerms" class="form-check-label"
              >Accept Terms & Conditions</label
            >
            <div *ngIf="error.accepTandc.errors" class="text-danger">
              Accept Ts & Cs is required
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-success btn-lg px-4 mr-3" (click)="onSubmit()">Register</button>
            <button class="btn btn-warning" type="reset" (click)="onResest()">
              Reset
            </button>
            <p class="text white">Value: {{ registerForm.value | json }}</p>
            <p class="text white">Value: {{ registerForm.valid | json }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
  